[build]
command = "rm -rf node_modules package-lock.json && npm install && npm run build && npm run start"
publish = "frontend/dist"

[build.environment]
NODE_VERSION = "22"
NPM_FLAGS = "--legacy-peer-deps"
